---
import { menuMain } from "~/data/menus";
const currentYear = new Date().getFullYear();
import { siteName } from "~/data/config";
import '~/css/base.css'

---

<footer class="bg-block-bedrock text-white">
	<div class="bg-dark-75">
	<div class="container pt-16 pb-8">
		<p class="text-center font-bold text-4xl text-white">
      Voxel<span class="text-brand-red bg-block-snow pl-3 pr-2 ml-3">Earth</span>
    </p>
		<nav class="flex flex-col sm:flex-row items-center justify-center gap-x-12 gap-y-3 font-medium mt-6" aria-label="Footer">
			{
				menuMain.map((item) => (
					<a href={item.url} class="hover:underline">
						{item.name}
					</a>
				))
			}
		</nav>
		<p class="flex items-center justify-center m-3"><a target="_blank" href="/humans.txt"><img class="hover:scale-105 transition duration-300 ease-in-out" src="https://humanstxt.org/img/oficial-logos/humanstxt-transparent-1ink.png"></a></p>
		<p class="mt-1 text-center text-sm">
      &copy; {currentYear} {siteName}. All rights reserved. <a class="underline" href="/privacy-policy">Privacy policy</a>
    </p>
	<p class="text-center text-sm">
		"Minecraft" is a trademark of Mojang AB. Voxel Earth is not affiliated with Mojang AB.
	  </p>
	</div>
</div>
</footer>
